@use '@tedi-design-system/core/mixins';

:root {
  --tree-trunk-width: 2px;
  --tree-branch-width: 12px;
  --tree-bullet-size: 8px;
  --tree-line-color: var(--navigation-vertical-tree-neutral-default);
  --tree-indent-base: 0.75rem;
}

.tedi-dropdown__item {
  @include mixins.button-reset;

  position: relative;
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
  padding-left: var(--dropdown-indent, var(--dropdown-item-padding-x));
  color: var(--dropdown-item-default-text);
  text-align: left;
  border-radius: 0;
  transition: all 0.2s ease;

  &:first-child {
    border-radius: var(--form-select-area-radius) var(--form-select-area-radius) 0 0;
  }

  &:last-child {
    border-radius: 0 0 var(--form-select-area-radius) var(--form-select-area-radius);
  }

  &--active {
    color: var(--dropdown-item-active-text);
    background-color: var(--dropdown-item-active-background);

    p,
    label {
      color: var(--dropdown-item-active-text);
    }
  }

  &--disabled {
    color: var(--color-text-disabled);
    pointer-events: none;
    background-color: var(--color-bg-disabled);
  }

  &--divided {
    border-bottom: 1px solid var(--general-border-primary);

    &:last-child {
      border-bottom: none;
    }
  }

  &--tree-item {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(((var(--dropdown-item-padding-x) / 2) + var(--dropdown-item-padding-x)));
      width: var(--tree-trunk-width);
      content: '';
      background-color: var(--navigation-vertical-tree-neutral-default);
      border-radius: 0;
    }

    &::after {
      position: absolute;
      top: 20px;
      bottom: 0;
      left: calc(((var(--dropdown-item-padding-x) / 2) + var(--dropdown-item-padding-x)));
      width: var(--tree-branch-width);
      height: var(--tree-trunk-width);
      content: '';
      background-color: var(--navigation-vertical-tree-neutral-default);
      border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;
    }

    &:last-child::before {
      height: calc(50% + var(--tree-trunk-width));
    }
  }

  &--tree-parent {
    &::before {
      top: 50%;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: calc(
        ((var(--dropdown-item-padding-x) / 2) + var(--dropdown-item-padding-x)) - (var(--tree-bullet-size) / 3)
      );
      width: var(--tree-bullet-size);
      height: var(--tree-bullet-size);
      content: '';
      background-color: var(--tree-line-color);
      border-radius: 100%;
      transform: translateY(-50%);
    }
  }

  &:hover {
    color: var(--dropdown-item-hover-text);
    cursor: pointer;
    background-color: var(--dropdown-item-hover-background);
    outline: 0;

    p,
    label {
      color: var(--dropdown-item-hover-text);
    }
  }

  &:focus-visible {
    &:not(.tedi-dropdown__item--disabled) {
      cursor: pointer;
      outline: 0;
      box-shadow: 0 0 0 1px var(--tedi-neutral-100), 0 0 0 3px var(--general-surface-selected);
    }
  }

  &--indent {
    padding-left: calc(var(--dropdown-indent) + var(--dropdown-item-padding-x));

    &.tedi-dropdown__item--tree-item {
      padding-left: calc(var(--dropdown-item-padding-x) + var(--tree-indent-base) + var(--dropdown-indent));
    }
  }
}
