%tedi-date-field-surface {
  position: relative;
  z-index: var(--z-index-dropdown);
  font-family: var(--family-default);
  background: var(--card-background-primary);
  border: 1px solid var(--card-border-primary);
  border-radius: var(--card-radius-rounded);
  box-shadow: 0 1px 5px 0 var(--tedi-alpha-20);
}

%tedi-date-field-cell-size {
  width: var(--form-calendar-date-width);
  height: var(--form-calendar-date-width);
}

.tedi-date-field {
  &__container {
    position: relative;
    width: 100%;
  }

  &__calendar {
    @extend %tedi-date-field-surface;

    min-width: 315px;

    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: separate;
    }
  }

  &__months-container {
    display: flex;
    gap: 8px;
  }

  &__month {
    padding: var(--card-padding-md-default);
  }

  &__footer {
    padding-top: var(--layout-grid-gutters-08);
    margin: 0 var(--card-padding-md-default) var(--card-padding-xs);
    border-top: 1px solid var(--general-border-primary);
  }

  &__head th {
    border-bottom: 1px solid var(--card-border-primary);
  }

  &__weekday {
    @extend %tedi-date-field-cell-size;

    font-weight: 500;
    color: var(--general-text-tertiary);
    border-bottom: 1px solid var(--card-border-primary);
  }

  &__day {
    @extend %tedi-date-field-cell-size;

    text-align: center;
    border-radius: var(--button-radius-sm);
    transition: background 0.15s ease;

    button {
      all: unset;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: var(--body-regular-size);
      font-weight: 400;
      color: var(--general-text-primary);
      cursor: pointer;

      &:focus-visible {
        outline: 2px solid var(--form-datepicker-today-border);
        outline-offset: 2px;
      }
    }

    &:hover:not(.tedi-date-field__disabled) {
      color: var(--general-text-primary);
      cursor: pointer;
      background-color: var(--form-datepicker-date-hover);
    }
  }

  &__today {
    button {
      margin-left: -1px;
      border: 1px solid var(--form-datepicker-today-border);
      border-radius: 50%;
    }

    &.tedi-date-field__available-day {
      color: var(--form-datepicker-date-text-available);
      background: var(--form-datepicker-date-available);
    }
  }

  &__available-day {
    color: var(--form-datepicker-date-text-available);
    background: var(--form-datepicker-date-available);

    button {
      color: inherit;
    }
  }

  &__day--selected {
    color: var(--form-datepicker-date-text-selected);
    background-color: var(--form-datepicker-date-selected);

    &.tedi-date-field__today {
      button {
        border-color: var(--form-datepicker-date-text-selected);
      }
    }

    button {
      color: inherit;
    }
  }

  &__range-middle {
    background-color: var(--form-datepicker-date-active);
    border-radius: 0;

    button {
      color: var(--general-text-primary);
    }
  }

  &__range-start {
    background-color: var(--form-datepicker-date-selected);
    border-radius: var(--button-radius-sm) 0 0 var(--button-radius-sm);
  }

  &__range-end {
    background-color: var(--form-datepicker-date-selected);
    border-radius: 0 var(--button-radius-sm) var(--button-radius-sm) 0;
  }

  &__outside-days {
    button {
      color: var(--form-datepicker-date-text-muted);
    }
  }

  &__week-number {
    @extend %tedi-date-field-cell-size;

    font-weight: 500;
    color: var(--general-text-tertiary);
    text-align: center;
    border-right: 1px solid var(--general-border-primary);
  }

  &__disabled {
    opacity: 0.3;

    button {
      color: var(--general-text-primary);
      cursor: not-allowed;
    }

    &:hover {
      background: transparent;
    }
  }
}

.tedi-date-field__textfield {
  button:not([data-name='closing-button']):last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-xs-icon-size);
    min-height: var(--form-field-button-height-sm);
    max-height: var(--form-field-button-height-sm);
    border-radius: var(--button-radius-sm);

    > span {
      color: var(--button-main-neutral-text-default);
    }

    &:hover {
      background-color: var(--form-datepicker-date-hover);
    }
  }

  &[aria-expanded='true'] button:not([data-name='closing-button']):last-child {
    background-color: var(--form-datepicker-date-hover);
  }

  &--disabled {
    button:not([data-name='closing-button']):last-child {
      span {
        color: var(--button-main-disabled-general-text);
      }

      &:hover {
        background: none;
      }
    }
  }
}

.tedi-date-field__multivalue div:last-child {
  align-items: start;
}

.tedi-date-field__picker-grid {
  display: flex;
  gap: var(--layout-grid-gutters-08);
  align-items: center;
  padding: var(--card-padding-md-default);
}

.tedi-date-field__picker-grid-container {
  @extend %tedi-date-field-surface;

  max-width: 315px;
}

.tedi-date-field__picker-grid-header {
  display: flex;
  gap: var(--layout-grid-gutters-08);
  align-items: center;
  justify-content: space-between;
  padding: var(--card-padding-md-default);
  padding-bottom: 0;
}

.tedi-date-field__grid-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 2.5rem;
  padding: calc(var(--button-md-padding-y) - 1px) var(--button-md-padding-x);
  font-size: var(--button-text-size-default);
  color: var(--form-checkbox-radio-card-primary-default-text);
  text-align: center;
  border: 1px solid var(--form-checkbox-radio-card-secondary-default-border);
  border-radius: var(--form-checkbox-radio-card-radius);

  &:hover {
    color: var(--form-checkbox-radio-card-secondary-hover-text);
    cursor: pointer;
    border: 1px solid var(--form-checkbox-radio-card-secondary-hover-border);
  }

  &--selected {
    color: var(--form-checkbox-radio-card-secondary-selected-text);
    border: var(--general-selected-border-width) solid var(--form-checkbox-radio-card-secondary-selected-border);

    &:hover {
      border-width: 2px;
    }
  }
}
