.tedi-time-field__textfield {
  button:not([data-name='closing-button']):last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-xs-icon-size);
    min-height: var(--form-field-button-height-sm);
    max-height: var(--form-field-button-height-sm);
    border-radius: var(--button-radius-sm);

    > span {
      color: var(--button-main-neutral-text-default);
    }

    &:hover {
      background-color: var(--form-datepicker-date-hover);
    }
  }

  &[aria-expanded='true'] button:not([data-name='closing-button']):last-child {
    background-color: var(--form-datepicker-date-hover);
  }

  &--disabled {
    button:not([data-name='closing-button']):last-child {
      > span {
        color: var(--button-main-disabled-general-text);
      }

      &:hover {
        background: none;
      }
    }
  }
}

.tedi-time-field__container {
  width: 100%;
}

.tedi-time-field__wheel {
  position: relative;
  z-index: var(--z-index-dropdown);
  display: flex;
  width: 160px;
  height: 200px;
  overflow: hidden;
  user-select: none;
  background: var(--card-background-primary);
  border: 1px solid var(--card-border-primary);
  border-radius: var(--card-radius-rounded);
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

  &::before {
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    content: '';
    background: linear-gradient(
      to bottom,
      var(--card-background-primary) 0%,
      transparent 30%,
      transparent 70%,
      var(--card-background-primary) 100%
    );
  }

  &::after {
    position: absolute;
    inset: 0;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    pointer-events: none;
    content: '';
    background: var(--dropdown-item-active-background);
    transform: translateY(-50%);
  }
}

.tedi-time-field__wheel-column {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 80px 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  will-change: scroll-position;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding: 80px;

  &:first-child {
    border-right: 1px solid var(--general-border-primary);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.tedi-time-field__wheel-item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--general-text-primary);
  scroll-snap-align: center;
  scroll-snap-stop: always;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &--selected {
    z-index: 2;
    color: var(--dropdown-item-active-text);
  }
}

.tedi-time-field__grid {
  position: relative;
  z-index: var(--z-index-dropdown);
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-grid-gutters-08);
  align-self: flex-start;
  justify-content: space-between;
  max-width: 300px;
  min-height: 200px;
  padding: var(--card-padding-md-default);
  background: var(--card-background-primary);
  border: 1px solid var(--card-border-primary);
  border-radius: var(--card-radius-rounded);
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

  .tedi-time-field__grid-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 2.5rem;
    padding: calc(var(--button-md-padding-y) - 1px) var(--button-md-padding-x);
    font-size: var(--button-text-size-default);
    color: var(--form-checkbox-radio-card-primary-default-text);
    text-align: center;
    border: 1px solid var(--form-checkbox-radio-card-secondary-default-border);
    border-radius: var(--form-checkbox-radio-card-radius);

    &:hover {
      color: var(--form-checkbox-radio-card-secondary-hover-text);
      cursor: pointer;
      border-color: var(--form-checkbox-radio-card-secondary-hover-border);
    }

    &--selected {
      color: var(--form-checkbox-radio-card-secondary-selected-text);
      border: var(--general-selected-border-width) solid var(--form-checkbox-radio-card-secondary-selected-border);

      &:hover {
        border-width: 2px;
      }
    }
  }
}
